{% extends "base.html" %}
{% block content %}
<center><h1>Про мене</h1></center>
<br>
<h3>Надаю послуги відеозйомки, монтажу, фотошопу та перезапис VHS кассет на цифрові носії!</h3>
<h3>Також маю петлички dji для якісного запису звуку</h3>
<br>
<h2>Зйомки:</h2>
<h3>• Реклама в будь яких соц мережах(YouTube, Tiktok, Reels та інше.)</h3>
<h3>• Блоги</h3>
<h3>• Сюжети</h3>
<h3>• Сімейні події</h3>
<br>
<h2>Монтаж:</h2>
<h3>• Динамічний монтаж для соц мереж (Shorts, TikTok, Reels та інше.)</h3>
<h3>• Кліпи, сюжети, YouTube-відео/TikTok-відео та інше.</h3>
<h3>• Корекція кольору, стабілізація, титри, музика.</h3>
<br>
<h2>Фотошоп:</h2>
<h3>• Фотокниги, обкладинки, шкільні фотоальбоми, постери та інше за вашими протребами</h3>
<br>
<center><h2>За всіма питаннями звертайтесь до мене!</h2>
<div><a href="{{ url_for('contact') }}" class="btn-purple">Зв’язатися зі мною</a></div></center>
{% endblock %}
