{% extends "base.html" %}
{% block content %}
<center><h1>Про мене</h1></center>
<div>
  <h3>Я, Любомир Казюк, відеоограф з 20+ річним стажем.</h2>
<h3>Надаю послуги відеозйомки та монтажу, а також фотошопу та отцефровка VHS Кассет</h3>
<h3>Також маю петлички dji для якісного запису звуку</h3>

</div>
<div>
  
<h2>Зйомки:</h2>
<h3>• Реклама в будь яких соц мережах</h3>
<h3>• Блоги</h3>
<h3>• Сюжети</h3>
<h3>• Сімейні події</h3>
</div>
<div><h2>Монтаж:</h2>
<h3>• Динамічний монтаж для соцмереж (Reels, Shorts, TikTok та інше.)</h3>
<h3>• Кліпи, сюжнти, YouTube-відео/TikTok-відео.</h3>
<h3>• Корекція кольору, стабілізація, титри, музика (Музику підбираю без авторських прав)</h3>
</div>
<div>
<h2>Фотошопу:</h2>
<h3>• Дизайн афіш, обкладинок, постерів та інше за вашими протребами</h3>
</div>
<center><h2>За всіма питаннями звертайтесь до мене!</h2>
<div><a href="{{ url_for('contact') }}" class="btn-purple">Зв’язатися зі мною</a></div></center>
{% endblock %}
