{% extends "base.html" %}
{% block content %}
<center><h1>Про мене</h1>
<h3>Я, Казюк Любомир, відеоограф з 20 річним стажем.</h3>
<h3>Надаю послуги зйомки та відеомонтажу а також фотошопу (прев'ю, банери, афіші)

Зйомки:
• Реклама (youtube, tiktok, reesl)
• блоги
• інтерв’ю
• події (авто-спорт фестивалі)

Також маю петлички dji для якісного запису звуку

Монтаж:
• Динамічний монтаж для соцмереж (Reels, Shorts, TikTok)
• Кліпи, репортажі, YouTube-відео
• Корекція кольору, стабілізація, титри, музика (Музику підбираю без авторських прав)

Фотошопу:
• Дизайн афіш, обкладинок, постерів

За прикладами робіт та іншими питаннями пишіть в пп) Буду радий обговорити!)</h3>
<div><a href="{{ url_for('contact') }}" class="btn-purple">Зв’язатися зі мною</a></div></center>
{% endblock %}
