{% extends "base.html" %}
{% block content %}
<center><h1>Контакти</h1></center><br>

<div class="contacts">
    <!-- Email -->
    <div class="contact-item">
        <img src="https://images.icon-icons.com/2631/PNG/512/gmail_new_logo_icon_159149.png" class="icon">
        <h2><a href="mailto:lubomirk170175@mail.com">Email: lubomirk170175@mail.com</a></h2>
    </div>

    <!-- Телефон -->
    <div class="contact-item">
        <img src="https://gas-kvas.com/grafic/uploads/posts/2024-01/thumbs/gas-kvas-com-p-znachki-zvonka-na-prozrachnom-fone-3.png" class="icon">
        <h2><a href="tel:+380991858815">Телефон: +380991858815</a></h2>
    </div>

    <!-- Instagram -->
    <div class="contact-item">
        <img src="https://png.klev.club/uploads/posts/2024-04/png-klev-club-bsd3-p-ikonka-instagramm-png-24.png" class="icon">
        <h2><a href="https://www.instagram.com/lubomir_kazuk" target="_blank">Instagram: @lubomir_kazuk</a></h2>
    </div>

    <!-- Facebook -->
    <div class="contact-item">
        <img src="https://png.klev.club/uploads/posts/2024-05/png-klev-club-njrk-p-feisbuk-logotip-png-3.png" class="icon">
        <h2><a href="https://www.facebook.com/lubomir.kazuk" target="_blank">Facebook: @lubomir.kazuk</a></h2>
    </div>

    <!-- TikTok -->
    <div class="contact-item">
        <img src="https://png.klev.club/uploads/posts/2024-04/png-klev-club-e5j9-p-tik-tok-znachok-png-1.png" class="icon">
        <h2><a href="https://www.tiktok.com/@lubomir.kazuk" target="_blank">TikTok: @lubomir.kazuk</a></h2>
    </div>
</div>

{% endblock %}
