{% extends "base.html" %}
{% block content %}
<center><h1>Контакти</h1></center><br>

<div class="contacts">
    <!-- Email -->
    <div class="contact-item">
        <img src="https://images.icon-icons.com/2631/PNG/512/gmail_new_logo_icon_159149.png" class="icon">
        <h2>Email: <a href="mailto:lubomirk170175@mail.com">lubomirk170175@mail.com</a></h2>
    </div>

    <!-- Телефон -->
    <div class="contact-item">
        <img src="https://gas-kvas.com/grafic/uploads/posts/2024-01/thumbs/gas-kvas-com-p-znachki-zvonka-na-prozrachnom-fone-3.png" class="icon">
        <h2>Телефон: <a href="tel:+380991858815">+380991858815</a></h2>
    </div>

    <!-- Instagram -->
    <div class="contact-item">
        <img src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png" class="icon">
        <h2>Instagram: <a href="https://www.instagram.com/lubomir_kazuk" target="_blank">@lubomir_kazuk</a></h2>
    </div>

    <!-- Facebook -->
    <div class="item">
        <img src="https://cdn.pixabay.com/photo/2021/12/10/16/37/facebook-6860914_1280.png" class="social-icon">
        <h2>Facebook: <a href="https://www.facebook.com/lubomir.kazuk" target="_blank">@lubomir.kazuk</a></h2>
    </div>

    <!-- TikTok -->
    <div class="contact-item">
        <img src="https://static.vecteezy.com/system/resources/previews/021/495/942/non_2x/tiktok-logo-icon-free-png.png" class="icon">
        <h2>TikTok: <a href="https://www.tiktok.com/@lubomir.kazuk" target="_blank">@lubomir.kazuk</a></h2>
    </div>
</div>
{% endblock %}
