{% extends "base.html" %}
{% block content %}
<h2>Мої роботи</h2>
<div class="images-grid">
    {% for item in media %}
        <div class="image-item">
            {% if item.type == "file" %}
                {% if item.url.endswith(('.mp4','.mov','.avi')) %}
                    <video onclick="openLightbox('{{ item.url }}', 'video')" src="{{ item.url }}"></video>
                {% else %}
                    <img src="{{ item.url }}" alt="{{ item.name }}" onclick="openLightbox('{{ item.url }}', 'image')">
                {% endif %}
            {% elif item.type == "youtube" %}
                <iframe onclick="openLightbox('{{ item.url }}', 'youtube')" width="300" height="200" src="{{ item.url }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
