{% for link in youtube_links %}
    {% if "youtube.com" in link %}
        <div class="youtube-video">
            <iframe width="300" height="170" src="{{ link | replace('watch?v=', 'embed/') }}" frameborder="0" allowfullscreen></iframe>
        </div>
    {% elif "instagram.com" in link %}
        <blockquote class="instagram-media" data-instgrm-permalink="{{ link }}" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px rgba(0,0,0,0.5),0 1px 10px rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%;">
        </blockquote>
    {% endif %}
{% endfor %}
<script async src="//www.instagram.com/embed.js"></script>
